* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-inter);
}

.wrapper {
  padding: 16px;
  max-width: 1600px;
  margin: 0 auto;
}

button, input {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input[type="number"] {
  -moz-appearance: textfield;
  
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input:focus {
  outline: none;
}
