@mixin card {
  padding: 10px;
  border-radius: 15px;
  background-color: var(--background-card-color);
}

@mixin buttonInCard {
  height: 68px;
  color: #FFFFFF;
  font-size: 44px;
  border-radius: 15px;
  background-color: var(--background-color);
}